<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime pizza App</title>
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <nav class="container mx-auto flex items-center justify-between py-4 px-4">
        <div>
            <img src="/images/logo.png" alt="logo" id="logo">
        </div>
        <div class="justify-items-end ">
            <ul class="flex items-center">
                <li class="ml-6"><a href="#">Menu</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <li class="ml-6"><a href="#">Register</a></li>
                <li class="ml-6"><a href="#">Login</a></li>
                <li class="ml-6 inline-block px-4 py-2 rounded-full" id="imgCart"><a href="#"><img src="/images/cart.png" alt=""></a></li>
        </div>
    </nav>
    <section class="hero px-8 py-16">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold">Don't wait!</h1>
            </div>
            <div class="w-1/2">
                <img src="/images/hero-pizza.png" alt="" data-tilt>
            </div>
        </div>
    </section>
    <section class="menu container mx-auto px-8 py-8">
        <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
        <div class="grid grid-cols-4 gap-12">
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg">Margherita</h1>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs ">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹250</span>
                        <button class="py-1 px-6 bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded-full">
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/app.js"></script>
    <script src="/images/vanilla-tilt.js"></script>
</body>
</html>