@import './variable';

body{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

#imgCart{
    background-color: $primary;
    &:hover{
        background: $primary-hover;
    }
}

nav li a{
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $primary;
    }
    }

section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}

button{
    transition: all 0.3s ease-in-out;
    background: $secondary;
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 85px);
}